
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Nausicaas - Customer Details</title>
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	
   <link rel="stylesheet" type= "text/css" href= "staticfiles/styles.css">

    <script>
      const items = [["Future Growth Loan Scheme", 80000000, "https://enterprise.gov.ie/en/What-We-Do/Supports-for-SMEs/Access-to-Finance/Future-Growth-Loan-Scheme/"], ["Help to Buy Scheme", 30000, "https://www.citizensinformation.ie/en/housing/owning_a_home/help_with_buying_a_home/help_to_buy_incentive.html"]];
      const items1 = arrayToJSONObject(items);

      function loadTableData(items) {
        const table = document.getElementById("testBody");
        items.forEach(item => {
          let row = table.insertRow();

          let Scheme = row.insertCell(0);
          Scheme.innerHTML = item.Scheme;
          let Price = row.insertCell(1);
          Price.innerHTML = item.Price;
          let Url = row.insertCell(1);
          Url.innerHTML = item.Url;
        });
      }
      


      function arrayToJSONObject(arr) {
        //header
        var keys = ["Scheme", "Price", "Url"];
 

        var formatted = [],
          data = arr,
          cols = keys,
          l = cols.length;
        for (var i = 0; i < data.length; i++) {
          var d = data[i],
            o = {};
          for (var j = 0; j < l; j++)
            o[cols[j]] = d[j];
          formatted.push(o);
        }
        return formatted;
      }
    </script>

    <title>GreenGiants</title>
  </head>

  <body>
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-2 pt-1">
            
          </div>
          <div class="col-8 text-center">
            <a class="blog-header-logo "  href="/">
                Nausicaas Global Green Initiative</a>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            
          </div>
        </div>
      </header>

      <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
           </span>
          </a>
          <a class="py-2 d-none d-md-inline-block" href="/customer">Customer Details</a>
          <a class="py-2 d-none d-md-inline-block" href="/login">Login</a>
          <a class="py-2 d-none d-md-inline-block" href="/">Page3</a>
          <a class="py-2 d-none d-md-inline-block" href="/">Page4</a>
          <a class="py-2 d-none d-md-inline-block" href="/team">Team Info</a> 
        </div>
      </nav>
  

    <div class="container">
 

      <div class="row">
        
        <div class="col-md-12 order-md-1">
       
            <h1 class="headertitle">User Details</h1> 
            
            <table id="myTable" class="table table-borderless table-striped table-earning">
              <thead>
                <tr>
                  <th>Scheme</th>
                  <th>Price</th>
                  <th>Url</th>
                </tr>
              </thead>
              <tbody id="testBody"></tbody>
            </table>
           <script>
            loadTableData(items1);</script>


        </div>
      </div>



      
    </div>
    <hr class="mb-4">
    <nav class="navbar navbar-expand-sm   footercolor">
      
        <div class="container">
       <div class="row footer-row" >
         <div class="col ">
           <span class="footercontent">&copy; 2022-2023</span>
         </div>
         <div class="col" >
           <h4> <a class="footerlink" href="/team" >Developers</a></h4>
          
         </div>
         <div class="col">
            <h4> 
               <a class="footerlink" href="https://github.com/L00171308/Nausicaas-Global-Green-Initiative"  target="_blank">GitHub</a> </h4> 
             
          </div> 
          <div class="col">
            <h4>   <a class="footerlink"  href="https://l00177576-devops.atlassian.net/wiki/home" target="_blank">Confluence</a> </h4>
            
          </div>
       </div>
       </div>
       
        
     </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
    <script> 
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
